<div class="w-full">
    <hr>
    <div class="flex items-center justify-start w-full">
        <div>
            <h1 class="text-center text-2xl font-semibold font-serif">CAPITAL</h1>
            <div class='p-5'>
                <form (ngSubmit)='search()'>
                    <input type="text" class="p-2 border-2 border-indigo-400 rounded" placeholder="Quito"
                        name='termino' [(ngModel)]='name'>
                    <button
                        class="py-2 px-3 m-3 bg-yellow-400 rounded-lg border-2 border-yellow-400 hover:bg-yellow-100 hover:text-yellow-600">
                        <i class="fas fa-search"></i>
                    </button>
                </form>
                <span class="text-red-500 text-sm" *ngIf="name == '' && submitted">
                    Campo vacio o no se encontro ningun considencia
                </span>
            </div>
            <div class="flex items-center justify-center">
                <span class="font-serif text-md" *ngIf="!submitted">
                    Ninguna busqueda realizada
                </span>
            </div>
            <div class="p-5">
                <app-capital-table [capitals]='capitals' [submitted]='submitted'></app-capital-table>
            </div>
        </div>
    </div>
</div>